html{
    margin:0;
    padding:0;
}

body{
    font-family: 'TT Lakes', serif;
    font-size: 14px;
    margin:0;
    padding:0;
}

html {
    background-color: #F8F8F8;
}
.header__title{
    font-size: 14px;
    line-height: 40px;
    box-sizing: border-box;
    border-left: 4px solid #41F6D7;
    padding-left: 16px;
    margin: 20px 0 5px 0;
}
.logo-ico{
    display: none;
}

.header__menu {
    width: 1096px;
    padding: 0 10px;
    overflow-x: scroll;
    margin-bottom: -30px;
    padding-bottom: 30px;

}
.menuWrapper {
    overflow: hidden;

}

.header__menu-container{
    display: flex;
    width: 1120px;
    height: 40px;

}
.header__menu-btn{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 250px;
    height: 40px;

    font-family: 'TT Lakes', serif;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-align: center;
    box-sizing: border-box;
}
.header__menu-btn:nth-of-type(1){
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

a:link{
    color: #7E7E82;
    text-decoration: none;
}

.header__menu-btn:hover{
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.main{
    display: flex;
    flex-direction: row;
    margin-top:20px;
    margin-left: 10px;
    width: 769px;
    justify-content: space-between;
    align-items: flex-start;
}
.main__general-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;

}
.main__general-text{
    display: flex;
    width: 500px;
    height: 180px;
    margin: 0 auto;
    flex-direction: column;
    overflow-y: scroll;
    margin-right: -30px;
    padding-right: 30px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.main__general-text--hidden{
    overflow: hidden;
}

.read{
    margin-right: 15px;
    margin-left: 10px;
}
.img{
    margin-top: 10px;
    height: 384px;
    width: 570px;
    border-radius: 10px;
    margin-right: 20px;
}
@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes-Medium.ttf");
    font-weight: 400;
    font-style: normal;
}
