@media screen and (min-width: 1120px){
    html, body {
        padding: 0;
        margin: 0;
        font-family: "TT Lakes", serif;
    }

    body{
        min-width: 1120px;
        background-color: #F8F8F8;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin: 0 auto;
    }
    .brands__header{
        padding: 16px 32px 16px 32px;
        text-transform: uppercase;
        color: #7E7E82;
        box-sizing: border-box;
        border-top: 1px solid #D9FFF5;
        background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }

    .brands__menu {
        background-color: #F8F8F8;
    }

    .brands-container__fade{
        display: none;
        margin-top: 8px;
        position: absolute;
        right: 0;
        z-index: 2;
    }

    .brands__card{
        display: flex;
        padding: 16px;
        justify-content: space-between;
        align-items: center;
        width: 240px !important;
        height: 72px !important;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        box-sizing: border-box;
        border-radius: 6px;
        margin:0 32px 16px 0!important;

    }
    .next{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #FF3E79;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .swiper-container{
        position: relative;
        height: auto;
    }
    .swiper-wrapper{
        display: flex;
        flex-wrap: wrap;
        padding-top: 24px;
        padding-left: 32px;
    }

    .swiper-pagination{
        filter: grayscale(100%);
    }

    .brands__show-all{
        display: flex;
    }

    .show-all{
        display: flex;
        padding-left: 36px;
        padding-bottom: 34px;
        box-sizing: content-box;
    }
    .show-all__text{
        margin-left: 17px;
    }
    .show-all__link{
        text-decoration: none;
        color: #1B1C21;
    }
    .brands__card:nth-of-type(11),
    .brands__card:nth-of-type(10),
    .brands__card:nth-of-type(9)
    {
        display: none;
        transition-duration: 1s;
    }
    .close-show-all{
        display: flex;
        padding-left: 36px;
        padding-bottom: 34px;
    }

    .hidden__img{
        transform: rotate(180deg);
    }
    .--show{
        display: flex!important;
    }
    .--hidden{
        display:none;
        transition-duration: 1s;
    }
    .swiper-pagination{
        display: none;
        filter: grayscale(100%);
    }
    @font-face {
        font-family: "TT Lakes";
        src: url("TTLakes-Medium.ttf");
        font-weight: 400;
        font-style: normal;
    }
}
