@media screen and (min-width: 1120px) {
    html{
        margin:0;
        padding:0;
        background-color: #F8F8F8;
    }

    body{
        font-family: 'TT Lakes', serif;
        font-size: 14px;
        margin:0 auto;
        padding:0;
        width: 1120px;
    }

    .header {
        display: none;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;
        height: 88px;
        width: 100%;
        border-bottom: 1px solid #41F6D7;
    }
    .header__right {
        display: flex;
        width: 50%;
        justify-content: space-around;
        align-items: center;
    }

    .header__left {
        display: flex;
        width: 210px;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 250px;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background: #FF3E79;
        border-radius: 50%;
        border: 1px solid #FF3E79;
        box-sizing: border-box;

    }
    .header-logo__logo{
        margin: 0 0 0 9px;
    }
    .header__left .logo:nth-of-type(2){
        background-color: #FFF;
        border: none;
    }
    .logo:hover, .logo1:hover,.logo2:hover {
        box-shadow: 0 0 3px 1px #FF3E79;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
    .header-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-logo{
        display: flex;
        align-items: center;
    }
    .header-logo__logo1{
        display: flex;
        margin:42px 32px 0 9px;
        align-items: center;
        font-size: 16px;
    }
    .header-logo__logo2{
        display: flex;
        margin:42px 0 0 9px;
        align-items: center;
        font-size: 16px;
    }

    .header-main__title{
        display:flex;
        align-items: center;
        margin:42px 0 8px 0;
    }

    .title {
        font-size: 30px;
        line-height: 40px;
        box-sizing: border-box;
    }
    .title__highlight{
        width: 4px;
        height: 40px;
        background: #41F6D7;
        border-radius: 4px;
        margin-right: 30px;
    }
    .main__menu{
        margin: 0 0 0 32px;
    }
    .menu {
        height:90px;
        min-width:1120px;
        overflow: hidden;
    }
    .menu__container {
        display: flex;
        width: 1120px;
        height: 40px;
        grid-row: 1;
        grid-column: 1;
        flex-wrap: wrap;

    }
    .menu--hidden {
        position: relative;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        right: 1px;
        height: 100px;
        min-width: 1120px;

    }

    .menu__shadow--right{
        position: absolute;
        right: 0;
        width: 20px;
        height: 60px;
        z-index: 2;
        grid-row: 1;
        grid-column: 1;
    }

    .btn {
        display: flex;
        align-items: center;
        height: 40px;
        font-family: 'TT Lakes', serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        border: 2px solid #F8F8F8;
        padding: 0 19px 0 19px;
    }
    .menu__button{
        margin:0 0 0 5px;
    }

    .btn:nth-of-type(3) {
        display: none;
    }

    a:link {
        color: #7E7E82;
        text-decoration: none;
    }

    .btn:hover {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;

    }
    .general-text--hidden {
        overflow: hidden;
    }
    .main-content__text{
        margin:0 36px 10px 34px;
    }
    .general-text {
        display: flex;
        width: 490px;
        height: 170px;
        flex-direction: column;
        line-height: 20px;
        letter-spacing: 0.2px;
        font-size: 14px;
    }
    .main-content{
        display:flex;
        width: 720px;
        height: 208px;
    }
    .cps__img{
        height: 307px;
        width: 532px;
        margin: 12px 0 0 0;

        border-radius: 6px;
    }
    .content__read-next{
        margin: 0 0 0 32px;
    }
    .read-next__text{
        margin-left: 16px;
    }
    .read-next{
        display: flex;
        font-size: 16px;
        line-height: 24px;
    }
    @font-face {
        font-family: "TT Lakes";
        src: url("TTLakes-Medium.ttf");
        font-weight: 400;
        font-style: normal;
    }
}
@media screen and (min-width: 769px) and (max-width: 1119px){
    html{
        margin:0;
        padding:0;
        background-color: #F8F8F8;
    }

    body{
        font-family: 'TT Lakes', serif;
        font-size: 14px;
        margin:0 auto;
        padding:0;
        min-width: 769px;
        max-width: 1119px;
    }

    .header-logo{
        display:none;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;
        width: 100%;
        border-bottom: 1px solid #41F6D7;
        padding: 24px;
    }
    .header__right {
        display: flex;
        width: 50%;
        justify-content: space-around;
        align-items: center;
    }

    .header__left {
        display: flex;
        width: 210px;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 250px;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background: #FF3E79;
        border-radius: 50%;
        border: 1px solid #FF3E79;
        box-sizing: border-box;
    }
    .header__left .logo:nth-of-type(2){
        background-color: #FFF;
        border: none;
    }
    .logo:hover{
        box-shadow: 0 0 3px 1px #FF3E79;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
    .header-main__title{
        display:flex;
        align-items: center;
        margin: 24px 0 24px 0;
    }

    .title {
        font-size: 30px;
        line-height: 40px;
        box-sizing: border-box;
    }
    .title__highlight{
        width: 4px;
        height: 40px;
        background: #41F6D7;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        margin-right: 20px;
    }
    .main__menu{
        margin: 0 0 0 24px;
    }
    .menu {
        height:50px;
        min-width:769px;
        max-width:1119px;
        overflow: hidden;
    }
    .menu__container {
        display: flex;
        width: 1400px;
        height: 40px;
        grid-row: 1;
        grid-column: 1;

    }
    .menu--hidden {
        position: relative;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        right: 1px;
        height: 100px;
        min-width: 769px;
        max-width: 1119px;
        overflow-x: scroll;
    }

    .menu__shadow--right{
        position: absolute;
        right: 0;
        width: 20px;
        height: 60px;
        z-index: 2;
        grid-row: 1;
        grid-column: 1;
    }

    .btn {
        display: flex;
        align-items: center;
        height: 40px;
        font-family: 'TT Lakes', serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        border: 2px solid #F8F8F8;
        padding: 0 19px 0 19px;
    }
    .menu__button{
        margin:0 0 0 5px;
    }
    .btn:nth-of-type(2) {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        box-sizing: content-box;
    }
    .btn:nth-of-type(1) {
        display: none;
    }

    a:link {
        color: #7E7E82;
        text-decoration: none;
    }

    .btn:hover {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }
    .general-text--hidden {
        overflow: hidden;
    }
    .main-content__text{
        margin:32px 48px 10px 24px;
    }
    .general-text__container{
        overflow: hidden;
    }
    .general-text {
        display: flex;
        width: 312px;
        height: 153px;
        flex-direction: column;
        line-height: 18px;
        letter-spacing: 0.2px;
        font-size: 14px;
    }
    .main-content{
        display:flex;
        width: 720px;
        height: 208px;
    }
    .cps__img{
        height: 208px;
        width: 360px;
        margin-top: 45px;
        margin-bottom: 35px;
        border-radius: 6px;
    }
    .content__read-next{
        margin: 0 0 0 24px;
    }
    .read-next__text {
        margin-left: 16px;
    }
    .read-next{
        display: flex;
        font-size: 16px;
        line-height: 24px;
    }
    @font-face {
        font-family: "TT Lakes";
        src: url("TTLakes-Medium.ttf");
        font-weight: 400;
        font-style: normal;
    }
}
@media screen and (min-width: 319px) and (max-width: 768px){

    html{
        margin:0;
        padding:0;
        background-color: #F8F8F8;
    }

    body{
        font-family: 'TT Lakes', serif;
        font-size: 14px;
        margin:0 auto;
        padding:0;
        min-width: 320px;
        max-width: 768px;
    }

    .header-logo{
        display:none;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;
        padding: 24px;
        width: 100%;
        border-bottom: 1px solid #41F6D7;
    }
    .header__right {
        display: flex;
        width: 160px;
        justify-content: space-around;
        align-items: center;
    }

    .header__left {
        display: flex;
        width: 160px;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background: #FF3E79;
        border-radius: 50%;
        border: 1px solid #FF3E79;
        box-sizing: border-box;
    }
    .logo:hover{
        box-shadow: 0 0 3px 1px #FF3E79;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
    .header__left div:nth-child(2),
    .header__right .logo:nth-of-type(1),
    .header__right .logo:nth-of-type(2),
    .header__right .logo:nth-of-type(3){
        display: none;
    }

    .header-main__title{
        display:flex;
        align-items: center;
        margin: 24px 0 24px 0;
    }

    .title {
        font-size: 30px;
        line-height: 40px;
        box-sizing: border-box;
    }
    .title__highlight{
        width: 4px;
        height: 40px;
        background: #41F6D7;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        margin-right: 16px;
    }
    .main__menu{
        margin: 0 0 0 16px;
    }
    .menu {
        height:50px;
        min-width:320px;
        max-width:768px;
        overflow: hidden;
    }
    .menu__container {
        display: flex;
        width: 1400px;
        height: 40px;
        grid-row: 1;
        grid-column: 1;

    }
    .menu--hidden {
        position: relative;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        right: 1px;
        height: 100px;
        min-width: 320px;
        max-width: 768px;
        overflow-x: scroll;
    }

    .menu__shadow--right{
        position: absolute;
        right: 0;
        width: 20px;
        height: 60px;
        z-index: 2;
        grid-row: 1;
        grid-column: 1;
    }

    .btn {
        display: flex;
        align-items: center;
        height: 40px;
        font-family: 'TT Lakes', serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        border: 2px solid #F8F8F8;
        padding: 0 19px 0 19px;
    }
    .menu__button{
        margin:0 0 0 5px;
    }
    .btn:nth-of-type(2) {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        box-sizing: content-box;
    }
    .btn:nth-of-type(1) {
        display: none;
    }

    a:link {
        color: #7E7E82;
        text-decoration: none;
    }

    .btn:hover {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;

    }
    .main-content__text{
        margin:0 16px 16px 16px;
    }

    .general-text--hidden {
        overflow: hidden;
    }
    .general-text {
        display:flex;
        flex-direction: column;
        width: 288px;
        height: 100px;
        line-height: 18px;
        letter-spacing: 0.2px;
        font-size: 14px;
    }
    .general-text p:nth-of-type(2){
        display: none;
    }

    .cps-img{
        height: 176px;
        width: 320px;
        align-self: center;
    }
    .content__read-next{
        margin: 0 16px 16px 16px;
    }
    .read-next{
        display: flex;
        font-size: 16px;
        line-height: 24px;
    }
    .read-next__text{
        margin-left: 16px;
    }
    @font-face {
        font-family: "TT Lakes";
        src: url("TTLakes-Medium.ttf");
        font-weight: 400;
        font-style: normal;
    }
}