html{
    margin:0;
    padding:0;
}

body{
    font-family: 'TT Lakes', serif;
}

html {
    background-color: #F8F8F8;
}
.header__title{
    font-size: 14px;
    line-height: 40px;
    box-sizing: border-box;
    border-left: 4px solid #41F6D7;
    padding-left: 16px;
    margin: 40px 0;
}
.logo-ico{

    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    height: 12%;
    width: 100%;
}
.logo-ico_burg:hover,.logo-ico_check:hover,.logo-ico_repair:hover{
    box-shadow: 0 0 3px 1px #FF3E79;
    border-radius: 50%;
    height:40px;
    width: 40px;
}

.header__menu{
    display: flex;
    width: 1920px;
    height: 40px;
    margin: 40px 0;
}
.header__menu-btn{
    display: block;
    width: 250px;
    height: 40px;
    padding-bottom: 50px;
    font-family: 'TT Lakes', serif;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-align: center;
    box-sizing: border-box;
}
.header__menu-btn:nth-of-type(1){
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
a:link{
    color: #7E7E82;
    text-decoration: none;
}

.header__menu-btn:hover{
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.main{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    margin-left: 10px;
}

.read{
    margin-right: 25px;
    margin-left: 25px;
}

@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes-Medium.ttf");
    font-weight: 400;
    font-style: normal;
}