.header-slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    padding: 24px;
}
.header-slide__right {
    display: flex;

    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
}

.header-slide__left {
    display: flex;

    justify-content: space-between;
    align-items: center;
}
.header-slide__logo{
    margin-right: 20px;
}
@media screen and (min-width: 1440px) {
    .header-slide__left .logo {
        display: none!important;
    }
}