.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    padding: 24px;
}
.header__right {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
}

.header__left {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}