.device__swiper-container{
    position: relative;
    height: 220px;
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
    .device__swiper-container{
        position: relative;
        height: auto;
    }
}
@media screen and (min-width: 1120px){
    .device__swiper-container{

        position: relative;
        height: auto;
    }
}