@media screen and (min-width: 320px) and (max-width: 767px) {
    .callorder {
        background-color:#FFFFFF;
        width: 100%;
        position: absolute;
        top:0;
        right: 0;
        height: 900px;
        overflow: hidden;
        opacity: 0;
        z-index: -1;
    }

    .callorder__header {
        padding: 24px 16px 24px 16px;
    }

    .callorder__title {
        display: flex;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
        align-items: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1439px){
    .callorder{
        background-color: #FFFFFF;
        width: 440px;
        position:fixed;
        right: 0;
        top:0;
        height: 100vh;
        opacity: 0;
        z-index: -1;
        box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    }
    .callorder__header{
        padding: 8px 16px 24px 16px;
    }
    .callorder__title{
        display: flex;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
        align-items: center;
    }
    .callorder__logo{
        position: absolute;
        top: 32px;
        left:-72px;
    }
}
@media screen and (min-width: 1440px) {
    .callorder{
        background-color: #FFFFFF;
        width: 440px;
        position:absolute;
        right: 0;
        top:0;
        height: 100%;
        opacity: 0;
        z-index: -1;
        box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    }
    .callorder__header{
        padding: 8px 16px 24px 16px;
    }
    .callorder__title{
        display: flex;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
        align-items: center;
    }
    .callorder__logo{
        position: absolute;
        top: 32px;
        left:-72px;
    }
}
.--opacity-callback{
    opacity: 1;
    transition-duration: 1s;
    z-index: 3;
}
.--opacity-hidden-callback{
    opacity: 0.1;
    transition-duration: 1s;
}