    html {
        margin: 0;
        padding: 0;
        background-color: #F8F8F8;
    }

    body {
        font-family: 'TT Lakes', serif;
        font-size: 14px;
        padding: 0;
    }

    @font-face {
        font-family: "TT Lakes";
        src: url("../TTLakes-Medium.ttf");
        font-weight: 400;
        font-style: normal;
    }

@media screen and (min-width: 1440px) {
    html {
        margin: 0;
        padding: 0;
        background-color: #F8F8F8;
    }

    body {
        font-family: 'TT Lakes', serif;
        font-size: 14px;
        padding: 0;
    }

}
@media screen and (min-width: 768px) and (max-width: 1439px) {
    html {
        margin: 0;
        padding: 0;
        background-color: #F8F8F8;
    }

    body {
        font-family: 'TT Lakes', serif;
        font-size: 14px;
        padding: 0;
    }
}
