@media screen and (min-width: 1440px) {
    .header-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-main__title {
        display: flex;
        align-items: center;
        margin: 32px 0 32px 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1439px){
    .header-main__title {
            display: flex;
            align-items: center;
            margin: 24px 0 24px 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .header-main__title{
        display:flex;
        align-items: center;
        margin: 24px 0 24px 0;
    }
}