@media screen and (min-width: 1120px) {
    .site {
        display: flex;
        width: 1600px;
        position: relative;
    }
}
@media screen and (min-width: 768px) and (max-width: 1119px){
    .site{
        position: relative;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .site{
        position: relative;
    }
}