@media screen and (min-width: 320px) and (max-width: 767px) {
    .price {
        display: none;
        background-color: #F8F8F8;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-family: "TT Lakes", serif;
    }

    .price__header {
        padding: 16px 16px 16px 16px;
        text-transform: uppercase;
        color: #7E7E82;
        box-sizing: border-box;
        border-top: 1px solid #D9FFF5;
        background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }

    .price__menu {
        background-color: #F8F8F8;
        padding: 16px 0 0 16px;
    }

    .price__show-all {
        display: none;
    }

    .price__card {
        display: flex;
        padding: 0 16px 16px 16px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 260px !important;
        height: 200px !important;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        box-sizing: border-box;
        border-radius: 6px;
        margin-right: 14px !important;
        position: relative;
    }
    .price__table{
        display: none;
    }
    .price__title-text {
        line-height: 16px;
        color: #7E7E82;
        opacity: 0.72;
    }
    .price__info{
        max-width: 421px;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    .price__card-p{
        margin-top: 5px;
        font-size: 14px;
        line-height: 18px;
    }
    .price__repair-service, .price__price, .price__duration{
        display: flex;
    }

    .price__show-all{
        display: flex;
    }
    .price__get-com{
        display: flex;
        align-items: center;
        font-size: 16px;
        box-sizing: border-box;
    }
    .price__get-com img{
        margin-left: 15px;
    }
    .price__footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 80px;
    }
    .price__footer {
        text-align: center;
    }
    .price__info{
        margin-bottom: 16px;
        color: #7E7E82;
        opacity: 0.72;
    }
    .brands--visible {
        display: block;
        opacity: 1;
        transition-duration: 1s;
    }
}
@font-face {
    font-family: "TT Lakes";
    src: url("../TTLakes-Medium.ttf");
    font-weight: 400;
    font-style: normal;
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
     .price {
         display:none;
        background-color: #F8F8F8;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-family: "TT Lakes", serif;
    }

    .price__header {
        padding: 16px 24px 16px 24px;
        text-transform: uppercase;
        color: #7E7E82;
        box-sizing: border-box;
        border-top: 1px solid #D9FFF5;
        background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }

    .price__table{
        display: grid;
        grid-template-columns: 1fr 20% 20% 20%;
        padding-left: 16px;
        padding-top: 31px;
        justify-items: start;
        color: #7E7E82;
        padding-bottom: 16px;
        min-width: 768px;
        max-width: 1070px;
    }
    .price__menu {
        background-color: #F8F8F8;
        padding:0 32px 0 32px;
    }
    .price__card{
        display: grid;
        grid-template-columns: 1fr 20% 20% 20%;
        justify-items: start;
        align-items: center;
        border-bottom: 1px solid #EAEAEA;
        padding: 16px 0 16px 0;
        box-sizing: border-box;
        min-width: 768px;
        max-width: 1070px;
    }
    .price__card-p{
        margin-top:0;
        font-size: 14px;
        line-height: 18px;
    }
    .price__card:nth-of-type(6){
        border-bottom: 1px solid #FFFFFF;
    }
    .price__card:nth-of-type(1){
        display: none;
    }
    .price__info{
        max-width: 441px;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    .price__repair-service, .price__price, .price__duration{
        display: flex;
        margin-bottom: 5px
    }
    .price__title-text{
        display: none;
    }
    .price__show-all{
        display: flex;
    }
    .price__get-com{
        display: flex;
        align-items: center;
        font-size: 16px;
        box-sizing: border-box;
    }
    .price__get-com img{
        margin-left: 15px;
    }
    .price__footer{
        display: grid;
        grid-template-columns: 1fr 1fr 30%;
        margin-top: 80px;
        color: #7E7E82;
        opacity: 0.72;
    }

    .price__footer div:nth-of-type(3){
        text-align: right;
    }
    .brands--visible {
        display: block;
        opacity: 1;
        transition-duration: 1s;
    }
}
@media screen and (min-width: 1120px){

    .price{
        display: none;
        background-color: #F8F8F8;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-family: "TT Lakes", serif;
    }

    .price__header{
        padding: 16px 0 16px 32px;
        text-transform: uppercase;
        color: #7E7E82;
        box-sizing: border-box;
        border-top: 1px solid #D9FFF5;
        background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }
    .price__table{
        display: grid;
        grid-template-columns: 1fr 20% 20% 10%;
        padding-left: 32px;
        padding-top: 31px;
        justify-items: start;
        color: #7E7E82;
        width: 1070px;
        padding-bottom: 16px;
    }
    .price__menu {
        background-color: #F8F8F8;
        padding:0 80px 0 32px;
    }
    .price__card{
        display: grid;
        grid-template-columns: 1fr 20% 20% 10%;
        justify-items: start;
        align-items: center;
        border-bottom: 1px solid #EAEAEA;;
        padding: 16px 10px 16px 0;
        width: 100%;
    }
    .price__card:nth-of-type(6){
        border-bottom: 1px solid #FFFFFF;
    }
    .price__card:nth-of-type(1){
        display: none;
    }
    .price__repair-service{
        grid-column: 1;
    }
    .price__repair-service, .price__price, .price__duration{
        display: flex;
        margin-bottom: 5px
    }
    .price__title-text{
        display: none;
    }
    .price__info{
        max-width: 441px;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    .price__get-com{
        display: flex;
        align-items: center;
        font-size: 16px;
        box-sizing: border-box;
    }
    .price__get-com img{
        margin-left: 15px;
    }
    .price__card-p{
        margin-top:0;
        font-size: 14px;
        line-height: 18px;
    }
    .price__footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 80px;
        color: #7E7E82;
        opacity: 0.72;
    }
    .price__footer div:nth-of-type(3){
        text-align: right;
    }
    .brands--visible {
        display: block;
        opacity: 1;
        transition-duration: 1s;
    }
}