@media screen and (min-width: 320px) and (max-width: 767px) {
    html, body {
        padding: 0;
        margin: 0;
        font-family: "TT Lakes", serif;
    }

    body {
        min-width: 320px;
        max-width: 767px;
        background-color: #F8F8F8;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }

    .brands__header {
        padding: 16px 16px 16px 16px;
        text-transform: uppercase;
        color: #7E7E82;
        box-sizing: border-box;
        border-top: 1px solid #D9FFF5;
        background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }

    .brands__menu {
        background-color: #F8F8F8;
        padding: 16px 0 0 16px;
    }

    .brands__show-all {
        display: none;
    }

    .brands__card {
        display: flex;
        padding: 0 16px 16px 16px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 260px !important;
        height: 200px !important;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        box-sizing: border-box;
        border-radius: 6px;
        margin-right: 14px !important;
        position: relative;
    }
    .brands__table{
        display: none;
    }
    .brands__title-text {
        line-height: 16px;
        color: #7E7E82;
        opacity: 0.72;
    }
    .brands__info{
        max-width: 421px;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    .brands__card-p{
        margin-top: 5px;
        font-size: 14px;
        line-height: 18px;
    }
    .brands__repair-service, .brands__price, .brands__duration{
        display: flex;
    }

    .brands__show-all{
        display: flex;
    }
    .brands__get-com{
        display: flex;
        align-items: center;
        font-size: 16px;
        box-sizing: border-box;
    }
    .brands__get-com img{
        margin-left: 15px;
    }
    .brands__footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 80px;
    }
    .brands__footer {
        text-align: center;
    }
    .footer__info{
        margin-bottom: 16px;
        color: #7E7E82;
        opacity: 0.72;
    }
}
@font-face {
    font-family: "TT Lakes";
    src: url("../TTLakes-Medium.ttf");
    font-weight: 400;
    font-style: normal;
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
    html, body {
        padding: 0;
        margin: 0;
        font-family: "TT Lakes", serif;
    }

    body {
        min-width: 768px;
        max-width: 1119px;
        background-color: #F8F8F8;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }

    .brands__header {
        padding: 16px 24px 16px 24px;
        text-transform: uppercase;
        color: #7E7E82;
        box-sizing: border-box;
        border-top: 1px solid #D9FFF5;
        background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }

    .brands__table{
        display: grid;
        grid-template-columns: 1fr 20% 20% 10%;
        padding-left: 16px;
        padding-top: 31px;
        justify-items: start;
        color: #7E7E82;
        padding-bottom: 16px;
    }
    .brands__menu {
        background-color: #F8F8F8;
        padding:0 32px 0 32px;
    }
    .brands__card{
        display: grid;
        grid-template-columns: 1fr 20% 20% 10%;
        justify-items: start;
        align-items: center;
        border-bottom: 1px solid #EAEAEA;
        padding: 16px 0 16px 0;
        box-sizing: border-box;
    }
    .brands__card-p{
        margin-top:0;
        font-size: 14px;
        line-height: 18px;
    }
    .brands__card:nth-of-type(6){
        border-bottom: 1px solid #FFFFFF;
    }
    .brands__card:nth-of-type(1){
        display: none;
    }
    .brands__info{
        max-width: 441px;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    .brands__repair-service, .brands__price, .brands__duration{
        display: flex;
        margin-bottom: 5px
    }
    .brands__title-text{
        display: none;
    }
    .brands__show-all{
        display: flex;
    }
    .brands__get-com{
        display: flex;
        align-items: center;
        font-size: 16px;
        box-sizing: border-box;
    }
    .brands__get-com img{
        margin-left: 15px;
    }
    .brands__footer{
        display: grid;
        grid-template-columns: 1fr 1fr 30%;
        margin-top: 80px;
        color: #7E7E82;
        opacity: 0.72;
    }

    .brands__footer div:nth-of-type(3){
        text-align: right;
    }
}
@media screen and (min-width: 1120px){
    html, body {
        padding: 0;
        margin: 0;
        font-family: "TT Lakes", serif;
    }

    body{
        width: 1120px;
        background-color: #F8F8F8;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin: 0 auto;

    }

    .brands__header{
        padding: 16px 0 16px 32px;
        text-transform: uppercase;
        color: #7E7E82;
        box-sizing: border-box;
        border-top: 1px solid #D9FFF5;
        background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }
    .brands__table{
        display: grid;
        grid-template-columns: 1fr 20% 20% 10%;
        padding-left: 18px;
        padding-top: 31px;
        justify-items: start;
        color: #7E7E82;
        padding-bottom: 16px;
    }
    .brands__menu {
        background-color: #F8F8F8;
        padding:0 80px 0 32px;
    }
    .brands__card{
        display: grid;
        grid-template-columns: 1fr 20% 20% 10%;
        justify-items: start;
        align-items: center;
        border-bottom: 1px solid #EAEAEA;;
        padding: 16px 10px 16px 0;
    }
    .brands__card:nth-of-type(6){
        border-bottom: 1px solid #FFFFFF;
    }
    .brands__card:nth-of-type(1){
        display: none;
    }
    .brands__repair-service{
        grid-column: 1;
    }
    .brands__repair-service, .brands__price, .brands__duration{
        display: flex;
        margin-bottom: 5px
    }
    .brands__title-text{
        display: none;
    }
    .brands__info{
        max-width: 441px;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    .brands__get-com{
        display: flex;
        align-items: center;
        font-size: 16px;
        box-sizing: border-box;
    }
    .brands__get-com img{
        margin-left: 15px;
    }
    .brands__card-p{
        margin-top:0;
        font-size: 14px;
        line-height: 18px;
    }
    .brands__footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 80px;
        color: #7E7E82;
        opacity: 0.72;
    }
    .brands__footer div:nth-of-type(3){
        text-align: right;
    }
}