.price__swiper-container{
    position: relative;
    height: 260px;
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
    .price__swiper-container{
        position: relative;
        height: auto;
        background-color: #FFFFFF;
        border-radius: 6px;

        padding-top: 20px;
    }
}
@media screen and (min-width: 1120px){
    .price__swiper-container{
        position: relative;
        height: auto;
        background-color: #FFFFFF;
        border-radius: 6px;
        width: 1120px;
        padding-left: 16px!important;

    }
}