@media screen and (min-width: 320px) and (max-width: 767px) {
    .price__swiper-wrapper {
        padding-top: 16px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
    .price__swiper-wrapper {
        flex-wrap: wrap;
        padding-left: 16px;
    }
}
@media screen and (min-width: 1120px){
    .price__swiper-wrapper{
        display: flex;
        flex-wrap: wrap;
        padding-left: 16px;
        width: 95%;
    }
}